Outpan Get/bin/Debug/FormsWebTest.vshost.exe.manifest
Outpan Get/bin/Debug/Newtonsoft.Json.xml
Outpan Get/bin/Debug/OutPanApiGet.exe.config
Outpan Get/bin/Debug/OutPanApiGet.vshost.exe.config
Outpan Get/bin/Release/Newtonsoft.Json.xml
Outpan Get/bin/Release/OutPanApiGet.exe.config
Outpan Get/bin/Release/OutPanApiGet.vshost.exe.config
Outpan Get/bin/Release/OutPanApiGet.vshost.exe.manifest
Outpan Get/obj/Debug/FormsWebTest.Form1.resources
Outpan Get/obj/Debug/FormsWebTest.csproj.FileListAbsolute.txt
Outpan Get/obj/Debug/OutPanApiGet.FrmMain.resources
Outpan Get/obj/Debug/OutPanApiGet.Properties.Resources.resources
Outpan Get/obj/Debug/OutPanApiGet.csproj.FileListAbsolute.txt
Outpan Get/obj/Release/OutPanApiGet.FrmMain.resources
Outpan Get/obj/Release/OutPanApiGet.Properties.Resources.resources
Outpan Get/obj/Release/OutPanApiGet.csproj.FileListAbsolute.txt
